.hierarchy {
  font-weight: 700;
  font-size: 20px;
  padding: 50px;
}
.hierarchy-row {
  text-align: center;
  color: black;
  padding-top: 50px;
}
.profile {
  padding-top: 100px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .profile {
    padding-left: 20%;
  }
}
@media only screen and (min-width: 600px) {
  .profile {
    padding-left: 30%;
  }
}
@media only screen and (min-width: 768px) {
  .profile {
    padding: 10px;
    padding-top: 100px;
  }
}
.profile-container {
  border-radius: 10px;
  width: 200px;
  height: 170px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-img img {
  border-radius: 50%;
  border: 3px solid #61a336;
  width: 150px;
  height: auto;
  margin-top: -40%;
  margin-left: 25px;
}

.profile-name {
  font-size: medium;
  padding-top: 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.designation {
  font-size: medium;
  padding: 0px;
  font-weight: 100;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.social-link {
  padding: 5px;
  text-align: center;
  margin: 2px;
}
.social-link :hover {
  transform: scale(0.9);
  
}

.president img {
  border-color: orange;
}
